.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 576px) {
  .App {  
    background-color: rgb(216, 215, 215);
  
  }
  .shell {
    display: grid;
    grid-template-columns: 1fr, 1fr;

  }
}
@media screen and (min-width: 992px) {
  .App {
      background-color: rgb(255, 255, 255);


  }
  /* .projectsSide {
  
      grid-column: 2;
      grid-template-rows: 1;
      background-color: rgb(32,32,32)
      
*/
  }
 
.script{
  font-family: 'Pinyon Script', cursive;

}
.App {
  /* background-color: rgb(255, 255, 255); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Noto Sans', sans-serif;
}

.gun {
  color:  rgb(7, 103, 154); 
}
/* .poem{


}
.form{


} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
